<p>Add User</p>
<form [formGroup]="form" (ngSubmit)="createUser()">
  <label>
    First Name:
    <input formControlName="firstName" name="firstName" required />
  </label>
  <label>
    Last Name:
    <input formControlName="lastName" name="lastName" required />
  </label>
  <label>
    Birth Date:
    <input formControlName="birthDate" name="birthDate" type="date" required />
  </label>
  <label>
    Gender:
    <select formControlName="gender" name="gender" required>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="other">Other</option>
    </select>
  </label>
  <label>
    Email:
    <input formControlName="email" type="email" placeholder="Email" />
    <div *ngIf="form.get('email')?.errors?.['duplicateEmail']">
      Email is already taken.
    </div>
  </label>
  <label for="password">Password:</label>
  <input formControlName="password" type="password" id="password" />
  <label for="role">Role:</label>
  <select formControlName="role" id="role">
    <option value="user">User</option>
    <option value="admin">Admin</option>
  </select>
  <label>
    Mobile Number:
    <input
      formControlName="mobileNumber"
      name="mobileNumber"
      type="number"
      required
    />
  </label>
  <label>
    Address:
    <input formControlName="address" name="address" required />
  </label>
  <button type="submit">Create User</button>
</form>
