<a routerLink="/users/create" class="create-user-link">Create User</a>
<a routerLink="/register">Register</a>
<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Birth Date</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Mobile Number</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.birthDate | date }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.mobileNumber }}</td>
      <td>{{ user.address }}</td>
      <td>
        <button routerLink="/users/edit/{{ user.id }}">Edit</button>
        <button (click)="deleteUser(user.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
